@media(max-width: 991px) {
    textarea#messageContact {
        width: 100% !important;
    }
}

@media(min-width: 992px) and (max-width: 1470px) {
    textarea#messageContact {
        width: 108.5% !important;
        position: inherit;
        right: 15px;
    }
}

@media(min-width: 1471px) and (max-width: 1510px) {
    #box-bread-brumb-contacto {
        left: 55px;
    }

    textarea#messageContact {
        width: 107% !important;
        position: inherit;
        right: 15px;
    }
}

@media(min-width: 1511px) and (max-width: 1560px) {
    #box-bread-brumb-contacto {
        left: 50px;
    }

    textarea#messageContact {
        width: 107% !important;
        position: inherit;
        right: 15px;
    }
}

@media(min-width: 1561px) and (max-width: 1699px) {
    #box-bread-brumb-contacto {
        left: 150px;
    }

    textarea#messageContact {
        width: 107% !important;
        position: inherit;
        right: 15px;
    }
}

@media(min-width: 1700px) {
    #box-bread-brumb-contacto {
        left: 155px;
    }

    textarea#messageContact {
        width: 107% !important;
        position: inherit;
        right: 15px;
    }
}

.container .container {
    margin: auto !important;
}

.row-centros-envios {
    margin-top: 100px;
}

.form-group {
    margin-bottom: 20px !important;
}

#nameContact::placeholder {
    font-size: 14px;
}

input#nameContact {
    border-color: green;
    border-radius: 0;
    font-size: 14px;
}

#emailContact::placeholder {
    font-size: 14px;
}

input#emailContact {
    border-color: green;
    border-radius: 0;
    font-size: 14px;
}

#affairContact::placeholder {
    font-size: 14px;
}

input#affairContact {
    border-color: green;
    border-radius: 0;
    font-size: 14px;
}

textarea#messageContact {
    border-color: green;
    border-radius: 0;
    height: 225px;
    resize: none !important;
    overflow-x: hidden !important;
    white-space: normal !important;
}

.boton-contacto {
    background-color: green !important;
    border: 1px solid green !important;
    font-size: 13px !important;
    border-radius: 0 !important;
    color: white !important;
    width: 120px;
    height: 40px;
}

.contenido-title {
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 50px;
}

#box-bread-brumb-contacto {
    position: relative;
    color: green;
}

#box-bread-brumb-contacto a {
    color: green !important;
}

.dir-envio {
    width: 65%;
}