/* Small devices (landscape phones, 320px and up)*/
@media (min-width: 320px) {

    /*estilo y posicionamiento del dato telefonico en la barra de welcome*/
    .telef {
        font-size: 13px;
        opacity: .6;
        position: absolute;
        left: 40px;
        top: 10px;
    }

    /*posicionamiento del menu Mi Cuenta de la barra de welcome*/
    #nav-mi-cuenta {
        position: relative;
        right: 70px;
        bottom: 15px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    /*estilo y posicionamiento del dato telefonico en la barra de welcome*/
    .telef {
        font-size: 13px;
        opacity: .6;
        position: absolute;
        left: 90px;
        top: 10px;
    }

    /*posicionamiento del menu Mi Cuenta de la barra de welcome*/
    #nav-mi-cuenta {
        position: relative;
        right: 70px;
        bottom: 10px;
    }

}

/* Large devices (desktops, 1024px and up)*/
@media (min-width: 1024px) {

    /*estilo y posicionamiento del dato telefonico en la barra de welcome*/
    .telef {
        font-size: 13px;
        opacity: .6;
        position: absolute;
        left: 110px;
        top: 10px;
    }

    /*posicionamiento del menu Mi Cuenta de la barra de welcome*/
    #nav-mi-cuenta {
        position: relative;
        right: 40px;
        bottom: 10px;
        width: 10px;
    }

}

/* Extra large devices (large desktops, 1440px and up)*/
@media (min-width: 1440px) {

    /*estilo y posicionamiento del dato telefonico en la barra de welcome*/
    .telef {
        font-size: 13px;
        opacity: .6;
        position: absolute;
        left: 110px;
        top: 10px;
    }

    /*posicionamiento del menu Mi Cuenta de la barra de welcome*/
    #nav-mi-cuenta {
        position: relative;
        right: 0;
        bottom: 10px;
    }

}


/* Extra large devices (large desktops, 1540px and up)*/
@media (min-width: 1540px) {

    /*estilo y posicionamiento del dato telefonico en la barra de welcome*/
    .telef {
        font-size: 13px;
        opacity: .6;
        position: absolute;
        left: 110px;
        top: 10px;
    }

}

.header {
    z-index: 1;
}

.index-mi-cuenta {
    z-index: 2;
}

/*fondo del welcome bar y de los nav, borde inferior divisor gris*/
.welcome-bar {
    height: 60px;
    margin-top: -20px;
}

.row-welcome {
    height: 55px;
}

.welcome-bar,
nav {
    background-color: white;
    border-bottom: 1px solid #dfdfdf;
}

/*caracteristicas generales del welcome bar*/
.welcome-bar p,
.welcome-bar a,
.welcome-bar span {
    color: black;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

/*efecto en el welcome bar de los links al pasar sobre ellos*/
.welcome-bar a:hover {
    color: #333;
    text-decoration: none;
}

/**/
.welcome-bar .help-menu ul {
    margin: 0;
    padding: 0;
}

/*barra de usuario de televentas*/
.cc-toolbar {
    margin: 0;
    padding: 0;
    height: 60px
}

.carousel-caption {
    z-index: 0 !important;
}

/*general*/
div#section-menu-logo {
    width: 85%;
}

.col-xs-12.col-md-10.col-menu, nav.navbar.navbar-expand-md.navbar-light, a.navbar-brand.logo-position {
    padding: 0;
}