@media(max-width: 326) {
    .titulo-institucional {
        font-size: 25px !important;
    }
}

@media (min-width:300px) and (max-width: 767px) {
    .navbar-toggler [data-toggle="collapse"]:after {
        display: none;
    }

    .navbar [data-toggle="collapse"]:after {
        display: none;
    }
}


[data-toggle="collapse"]:after {
    display: inline-block;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054";
    transform: rotate(-90deg);
    transition: all linear 0.25s;
    float: right;
}

[data-toggle="collapse"].collapsed:after {
    transform: rotate(90deg);
}



.card {
    border: 0 !important;
}

.card-header {
    background-color: white !important;
}

.pregunta-style:link,
.pregunta-style:visited,
.pregunta-style:hover,
.pregunta-style:active {
    color: black !important;
    text-decoration: none !important;
}

.pregunta-style:hover {
    font-weight: bold;
}

#accordion {
    position: relative;
    right: 10px;
}