@media(max-width: 326) {
    .titulo-institucional {
        font-size: 25px !important;
    }
}

.card {
    border: 0 !important;
}

.card-header {
    background-color: white !important;
}

.pregunta-style:link,
.pregunta-style:visited,
.pregunta-style:hover,
.pregunta-style:active {
    color: black !important;
    text-decoration: none !important;
}

.pregunta-style:hover {
    font-weight: bold;
}

#accordion {
    position: relative;
    right: 10px;
}